h1 {
  text-align: center;
  margin-bottom: 120px;
}

#content {
  margin: 0 auto;
  position: relative;
  width: 800px;
  height: 800px;
}

.large-nav-button {
  position: absolute;
  width: 24%;
  height: 24%;
  display: inline-block;
  text-align: center;
  border-radius: 50%;
}

#left {
  background-color: red;
  left: 0px;
}

#center {
  background-color: orange;
  left: 38%;
}

#right {
  background-color: yellow;
  right: 0px;
}