h1 {
  text-align: center;
  margin-top: 40px;
  margin-bottom: 60px;
}

#buttons {
  margin: 0 auto;
  position: relative;
  width: 760px;
  height: 192px;
  margin-bottom: 40px;
}

#content {
  margin: 0 auto;
  position: relative;
  width: 760px;
  display: none;
}

.hidden {
  display: none;
}

.shadow {
  position: absolute;
  display: inline-block;
  border-radius: 50%;
  background: transparent;
  z-index: -1;
  opacity: 0.5;
  display: none;
}

.one {
  width: 174px;
  height: 174px;
  border: solid transparent 9px;
  border-top: solid red 9px;
}

.two {
  width: 182px;
  height: 182px;
  border: solid transparent 5px;
  border-right: solid yellow 5px;
}

.three {
  width: 164px;
  height: 164px;
  border: solid transparent 14px;
  border-left: solid blue 14px;
}

.left {
  left: 0px;
}

.center {
  left: 284px;
}

.right {
  right: 0px;
}

.large-nav-button {
  position: absolute;
  width: 192px;
  height: 192px;
  display: inline-block;
  text-align: center;
  border-radius: 50%;
  line-height: 192px;
  font-size: 18px;
  background: #EEE;
}

.rotate-fast {
  -webkit-animation:rotate-fast 2s linear infinite;
  -moz-animation:rotate-fast 2s linear infinite;
  animation:rotate-fast 2s linear infinite;
}
@-moz-keyframes rotate-fast { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes rotate-fast { 100% { -webkit-transform: rotate(360deg); } }
@keyframes rotate-fast { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }

.rotate-medium {
  -webkit-animation:rotate-medium 4s linear infinite;
  -moz-animation:rotate-medium 4s linear infinite;
  animation:rotate-medium 4s linear infinite;
}
@-moz-keyframes rotate-medium { 100% { -moz-transform: rotate(-360deg); } }
@-webkit-keyframes rotate-medium { 100% { -webkit-transform: rotate(-360deg); } }
@keyframes rotate-medium { 100% { -webkit-transform: rotate(-360deg); transform:rotate(-360deg); } }

.rotate-slow {
  -webkit-animation:rotate-slow 6s linear infinite;
  -moz-animation:rotate-slow 6s linear infinite;
  animation:rotate-slow 6s linear infinite;
}
@-moz-keyframes rotate-slow { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes rotate-slow { 100% { -webkit-transform: rotate(360deg); } }
@keyframes rotate-slow { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }