h1 {
  text-align: center;
  margin-bottom: 120px;
}

#content {
  margin: 0 auto;
  position: relative;
  width: 800px;
  height: 800px;
}

.large-nav-button {
  position: absolute;
  width: 192px;
  height: 192px;
  display: inline-block;
  text-align: center;
  border-radius: 50%;
  line-height: 192px;
  font-size: 18px;
}

#left {
  background-color: red;
  left: 0px;
}

#center {
  background-color: orange;
  left: 304px;
}

#right {
  background-color: yellow;
  right: 0px;
}