table {
  position: relative;
  border-spacing: 0 50px;
  top: -50px;
}

td {
  height: 200px;
  position: relative;
  overflow: hidden;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
}

td:nth-of-type(odd) {
  width: 200px;
}

td:nth-of-type(even) {
  width: 460px;
  text-align: justify;
}

.site-header {
  position: relative;
  left: 25px;
  bottom: 5px;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  font-size: 18px;
}

.site-description {
  position: relative;
  left: 25px;
  bottom: 5px;
  font-size: 14px;
  width: 435px;
}

.site-links {
  position: relative;
  left: 25px;
  bottom: 5px;
  font-size: 12px;
}

.screenshot {
  border-radius: 50%;
  position: relative;
}

.screenshot:hover {
  opacity: 0.7;
}

.fa-question-circle, .fa-globe {
  position: relative;
  font-size: 233px;
}

.fa-question-circle {
  color: #FFF6B5;
}

.fa-globe {
  color: #94D0FF;
}

.fa-question-circle:hover, .fa-globe:hover {
  opacity: 0.7;
}